[user]
	name = Miguel Diaz
	email = github.com.hf06j@slmail.me
	signingkey = 84FA9AD947D87CDF
[http]
	postBuffer = 157286400
[init]
	defaultBranch = main
[core]
	editor = vim
	autocrlf = input
	whitespace = trailing-space,-space-before-tab,tab-in-indent,cr-at-eo
[pull]
	rebase = true
[diff]
	colorMoved = zebra
[alias]
	sync-rebase = !git switch main && git pull && git switch - && git rebase main --interactive --autosquash
